<header>
   <div id="nav-header">
      <a ng-click="jump($event,'/Frontpage')">
         <img src="img/logoB.png">
      </a>
      <a ng-click="jump($event,'/Frontpage')">首页</a>
      <a ng-click="jump($event,'/List')">乐库</a>
      <a ng-click="jump($event,'/Usercenter')">用户中心</a>
      <div class="header-search">
         <input id="header-search" type="text" placeholder="夕阳之歌"/>
         <label for="header-search"><span class="fa fa-search"></span></label>
      </div>
      <div class="users">
      <a href="#/Login">
         登录
      </a>
      <a href="#/Registe">
         注册
      </a>
      </div>
   </div>
</header>