<div ng-include="'tpl/include/header.html'"></div>


<banner>
   <ul class="list-unstyled">
      <li>
         <a href="#/Frontpage">首页&nbsp &nbsp &nbsp &nbsp </a>
      </li>
      <li>
         <a href="#新歌首发" name="新歌">新歌&nbsp &nbsp &nbsp &nbsp </a>
      </li>
      <li>
         <a href="精彩推荐" name="推荐">推荐&nbsp &nbsp &nbsp &nbsp </a>
      </li>
      <li>
         <a href="#热门歌曲榜" name="热门">热门&nbsp &nbsp &nbsp &nbsp </a>
      </li>
      <li>
         <a href="#原创歌曲榜" name="原创">原创&nbsp &nbsp &nbsp &nbsp </a>
      </li>
      <li>
         <a href="频道分类" name="频道">频道&nbsp &nbsp &nbsp &nbsp </a>
      </li>
   </ul>
   <div  id="banner-bg" class="container containerC">
      <p><i></i><span>新歌首发</span><i></i></p>

      <ul>
         <li>内地</li>
         <li>港台</li>
         <li>欧美</li>
         <li>韩国</li>
         <li>日本</li>
      </ul>
      <!--轮播模块-->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
         <!-- Indicators -->
         <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
         </ol>

         <!-- Wrapper for slides -->
         <div class="carousel-inner" role="listbox">
            <div class="item active">
               <div>
                  <img src="img/11.jpg" alt="1">
                  <img src="img/12.jpg" alt="1">
                  <img src="img/13.jpg" alt="1">
                  <img src="img/14.jpg" alt="1">
               </div>
               <ul>
                  <li>专辑A<span>歌手</span></li>
                  <li>专辑B<span>歌手</span></li>
                  <li>专辑C<span>歌手</span></li>
                  <li>专辑D<span>歌手</span></li>
               </ul>
            </div>
            <div class="item">
               <div>
                  <img src="img/15.jpg" alt="2">
                  <img src="img/16.jpg" alt="2">
                  <img src="img/17.jpg" alt="2">
                  <img src="img/18.jpg" alt="2">
               </div>
               <ul>
                  <li>专辑A<span>歌手</span></li>
                  <li>专辑B<span>歌手</span></li>
                  <li>专辑C<span>歌手</span></li>
                  <li>专辑D<span>歌手</span></li>
               </ul>
            </div>
            <div class="item">
               <div>
                  <img src="img/19.jpg" alt="3">
                  <img src="img/110.jpg" alt="3">
                  <img src="img/111.jpg" alt="3">
                  <img src="img/112.jpg" alt="3">
               </div>
               <ul>
                  <li>专辑A<span>歌手</span></li>
                  <li>专辑B<span>歌手</span></li>
                  <li>专辑C<span>歌手</span></li>
                  <li>专辑D<span>歌手</span></li>
               </ul>
            </div>
            <div class="item">
               <div>
                  <img src="img/113.jpg" alt="4">
                  <img src="img/114.jpg" alt="4">
                  <img src="img/115.jpg" alt="4">
                  <img src="img/116.jpg" alt="4">
               </div>
               <ul>
                  <li>专辑A<span>歌手</span></li>
                  <li>专辑B<span>歌手</span></li>
                  <li>专辑C<span>歌手</span></li>
                  <li>专辑D<span>歌手</span></li>
               </ul>
            </div>
         </div>
      </div>
      <!--myControls-->
      <div id="Control-button" class="myControls">
         <button ng-click="leftSlide()" class="left btn btn-default" type="button"><span class="fa fa-angle-left"></span></button>
         <button ng-click="rightSlide()" class="right btn btn-default" type="button"><span class="fa fa-angle-right"></span></button>
      </div>
   </div>
</banner>
<main>
   <div class="container containerC titleContainer">
      <p><i></i><span>精彩推荐</span><i></i></p>
      <a href="#">更多>></a>
      <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">

         <!-- Indicators -->
         <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic1" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic1" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic1" data-slide-to="3"></li>
         </ol>

         <!-- Wrapper for slides -->
         <div class="carousel-inner" role="listbox">
            <div class="item active">
               <div>
                  <img src="img/11.jpg" alt="1">
                  <img src="img/12.jpg" alt="1">
                  <img src="img/13.jpg" alt="1">
                  <img src="img/14.jpg" alt="1">
               </div>
               <ul>
                  <li>专辑A<span>歌手</span></li>
                  <li>专辑B<span>歌手</span></li>
                  <li>专辑C<span>歌手</span></li>
                  <li>专辑D<span>歌手</span></li>
               </ul>
            </div>
            <div class="item">
               <div>
                  <img src="img/15.jpg" alt="2">
                  <img src="img/16.jpg" alt="2">
                  <img src="img/17.jpg" alt="2">
                  <img src="img/18.jpg" alt="2">
               </div>
               <ul>
                  <li>专辑A<span>歌手</span></li>
                  <li>专辑B<span>歌手</span></li>
                  <li>专辑C<span>歌手</span></li>
                  <li>专辑D<span>歌手</span></li>
               </ul>
            </div>
            <div class="item">
               <div>
                  <img src="img/19.jpg" alt="3">
                  <img src="img/110.jpg" alt="3">
                  <img src="img/111.jpg" alt="3">
                  <img src="img/112.jpg" alt="3">
               </div>
               <ul>
                  <li>专辑A<span>歌手</span></li>
                  <li>专辑B<span>歌手</span></li>
                  <li>专辑C<span>歌手</span></li>
                  <li>专辑D<span>歌手</span></li>
               </ul>
            </div>
            <div class="item">
               <div>
                  <img src="img/113.jpg" alt="4">
                  <img src="img/114.jpg" alt="4">
                  <img src="img/115.jpg" alt="4">
                  <img src="img/116.jpg" alt="4">
               </div>
               <ul>
                  <li>专辑A<span>歌手</span></li>
                  <li>专辑B<span>歌手</span></li>
                  <li>专辑C<span>歌手</span></li>
                  <li>专辑D<span>歌手</span></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="myControls">
         <button ng-click="leftSlide1()" class="left btn btn-default" type="button"><span class="fa fa-angle-left"></span></button>
         <button ng-click="rightSlide1()" class="right btn btn-default" type="button"><span class="fa fa-angle-right"></span></button>
      </div>
   </div>
   <div class="titleContainer">
      <p><i></i><span>热门单曲</span><i></i></p>
      <a href="#">更多>></a>
      <p><i></i><span>原创单曲</span><i></i></p>
      <a href="#">更多>></a>
      <p><i></i><span>频道</span><i></i></p>
      <a href="#">更多>></a>
   </div>

</main>

<div ng-include="'tpl/include/footer.html'"></div>
